.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.container img{
    width: 50vw;
}

.container a{
    display: block;
    padding: 10px 25px;
    background-color: #704796;
    color: white;
    border-radius: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

.container a:hover{
    color: #704796;
    background-color: white;
}


@media (max-width: 1085px) { 
    .container img{
        width: 100vw;
    }
}

